/**
 * Place your custom CSS styles here.
 **/
button#instafication {
  background    : #b52025 !important;
  display       : block !important;
  margin        : 4px auto !important;
  margin-top    : 4px !important;
  border-radius : 4px !important;
  color         : white !important;
  text-align    : center !important;
  font-family   : sans-serif !important;
  font-size     : 16px !important;
  line-height   : 28px !important;
  cursor        : pointer !important;
  min-width     : 120px !important;
  border        : none !important;
}

button#instafication:hover {
  background : #b52025 !important; 
}

button#instafication:after {
  background-image: none !important;
}

.a-button-inner { 
    overflow: visible !important;
}
